@media (min-width: 769px) {
    .hero-container {
        padding: 60px 0;
    }

    .hero-content {
        flex-direction: row;
    }

    .hero-text,
    .hero-img {
        flex-grow: 1;
    }

    .about-container {
        display: flex;
        gap: 20px;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-img {
        display: flex;
        align-items: center;
    }

    .about-img img {
        display: block;
    }
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }
    
    #menuIcon {
        display: block;
        padding: 2px;
        font-size: 1rem;
        cursor: pointer;
    }

    .nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: rgb(209, 209, 209);
        color: white;
        text-align: center;
        z-index: 10;
    }

    .nav.active {
        display: block;
    }

    .nav-item {
        flex-direction: column;
        padding: 20px 0;
        gap: 10px;
    }

    .nav-link {
        display: block;
        width: 100%;
        padding: 15px 20px;
        color: #3a3a3a;
        transition: color 0.2s, background-color 0.2s;
    }

    .nav-link:hover {
        color: rgb(255, 245, 245);
        background-color: #a5a5a5;
    }

    .hero-text .h1-name {
        white-space: normal;
        border-right: none;
        animation: none;
    }

    .about-info {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

@media (max-width: 644px) {
    .about-info {
        grid-template-columns: 1fr;
    }
} 